In [1]:
import cudf

print(cudf.__version__)

22.02.00

In [2]:
gdf = cudf.DataFrame([('a',[1,2,3]),('b',[4,5,6]),('c',[7,8,9])])

In [3]:
print(gdf)

   0          1
0  a  [1, 2, 3]
1  b  [4, 5, 6]
2  c  [7, 8, 9]

In [4]:
import numpy as np
gdf = cudf.DataFrame.from_records(np.array([[4,7,10],[5,8,11],[6,9,12]]),index=[1,2,3],columns=['a','b','c'])

In [5]:
gdf

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [12]:
gdf = cudf.read_csv("sample_us.tsv",sep='\t')
gdf.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,18778586,RDIJS7QYB6XNR,B00EDBY7X8,122952789,Monopoly Junior Board Game,Toys,5,0,0,N,Y,Five Stars,Excellent!!!,2015-08-31
1,US,24769659,R36ED1U38IELG8,B00D7JFOPC,952062646,56 Pieces of Wooden Train Track Compatible wit...,Toys,5,0,0,N,Y,Good quality track at excellent price,Great quality wooden track (better than some o...,2015-08-31
2,US,44331596,R1UE3RPRGCOLD,B002LHA74O,818126353,Super Jumbo Playing Cards by S&S Worldwide,Toys,2,1,1,N,Y,Two Stars,Cards are not as big as pictured.,2015-08-31
3,US,23310293,R298788GS6I901,B00ARPLCGY,261944918,Barbie Doll and Fashions Barbie Gift Set,Toys,5,0,0,N,Y,my daughter loved it and i liked the price and...,my daughter loved it and i liked the price and...,2015-08-31
4,US,38745832,RNX4EXOBBPN5,B00UZOPOFW,717410439,Emazing Lights eLite Flow Glow Sticks - Spinni...,Toys,1,1,1,N,Y,DONT BUY THESE!,Do not buy these! They break very fast I spun ...,2015-08-31

In [13]:
gdf.describe()

        customer_id  product_parent  star_rating  helpful_votes  total_votes
count  4.900000e+01    4.900000e+01    48.000000      48.000000    48.000000
mean   2.341813e+07    5.142841e+08     4.166667       0.354167     0.708333
std    1.554717e+07    2.979974e+08     1.373508       0.757644     1.219667
min    1.255180e+05    5.744768e+07     1.000000       0.000000     0.000000
25%    1.219123e+07    2.269842e+08     3.750000       0.000000     0.000000
50%    2.049459e+07    4.809923e+08     5.000000       0.000000     0.000000
75%    3.874583e+07    7.805176e+08     5.000000       0.250000     1.000000
max    5.200629e+07    9.966119e+08     5.000000       4.000000     6.000000