In [1]:
import cudf

print(cudf.__version__)

22.02.00

In [2]:
gdf = cudf.DataFrame([('a',[1,2,3]),('b',[4,5,6]),('c',[7,8,9])])

In [3]:
print(gdf)

   0          1
0  a  [1, 2, 3]
1  b  [4, 5, 6]
2  c  [7, 8, 9]

In [4]:
import numpy as np
gdf = cudf.DataFrame.from_records(np.array([[4,7,10],[5,8,11],[6,9,12]]),index=[1,2,3],columns=['a','b','c'])

In [5]:
gdf

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
gdf = cudf.read_csv("sample_us.tsv",sep='\t')
gdf.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,18778586,RDIJS7QYB6XNR,B00EDBY7X8,122952789,Monopoly Junior Board Game,Toys,5,0,0,N,Y,Five Stars,Excellent!!!,2015-08-31
1,US,24769659,R36ED1U38IELG8,B00D7JFOPC,952062646,56 Pieces of Wooden Train Track Compatible wit...,Toys,5,0,0,N,Y,Good quality track at excellent price,Great quality wooden track (better than some o...,2015-08-31
2,US,44331596,R1UE3RPRGCOLD,B002LHA74O,818126353,Super Jumbo Playing Cards by S&S Worldwide,Toys,2,1,1,N,Y,Two Stars,Cards are not as big as pictured.,2015-08-31
3,US,23310293,R298788GS6I901,B00ARPLCGY,261944918,Barbie Doll and Fashions Barbie Gift Set,Toys,5,0,0,N,Y,my daughter loved it and i liked the price and...,my daughter loved it and i liked the price and...,2015-08-31
4,US,38745832,RNX4EXOBBPN5,B00UZOPOFW,717410439,Emazing Lights eLite Flow Glow Sticks - Spinni...,Toys,1,1,1,N,Y,DONT BUY THESE!,Do not buy these! They break very fast I spun ...,2015-08-31

In [7]:
gdf.describe()

        customer_id  product_parent  star_rating  helpful_votes  total_votes
count  4.900000e+01    4.900000e+01    48.000000      48.000000    48.000000
mean   2.341813e+07    5.142841e+08     4.166667       0.354167     0.708333
std    1.554717e+07    2.979974e+08     1.373508       0.757644     1.219667
min    1.255180e+05    5.744768e+07     1.000000       0.000000     0.000000
25%    1.219123e+07    2.269842e+08     3.750000       0.000000     0.000000
50%    2.049459e+07    4.809923e+08     5.000000       0.000000     0.000000
75%    3.874583e+07    7.805176e+08     5.000000       0.250000     1.000000
max    5.200629e+07    9.966119e+08     5.000000       4.000000     6.000000

In [8]:
gdf = cudf.read_csv("Data/amazon_reviews_us_PC_v1_00.tsv",sep='\t')

In [9]:
gdf.describe()

        customer_id  product_parent   total_votes
count  6.905942e+06    6.905942e+06  6.139442e+06
mean   2.799248e+07    4.916604e+08  7.806933e+01
std    1.557235e+07    2.890111e+08  5.257437e+04
min    1.001600e+04    1.602000e+03  0.000000e+00
25%    1.441995e+07    2.428900e+08  0.000000e+00
50%    2.678863e+07    4.884428e+08  0.000000e+00
75%    4.266233e+07    7.428934e+08  1.000000e+00
max    5.309658e+07    9.999960e+08  5.266709e+07

In [10]:
gdf.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,22873041,R3ARRMDEGED8RD,B00KJWQIIC,335625766,Plemo 14-Inch Laptop Sleeve Case Waterproof Fa...,PC,5,0,0,N,Y,Pleasantly surprised,I was very surprised at the high quality of th...,2015-08-31
1,US,30088427,RQ28TSA020Y6J,B013ALA9LA,671157305,TP-Link OnHub AC1900 Wireless Wi-Fi Router,PC,5,24,31,N,N,OnHub is a pretty no nonsense type router that...,I am a Google employee and had to chance to us...,2015-08-31
2,US,20329786,RUXJRZCT6953M,B00PML2GQ8,982036237,AmazonBasics USB 3.0 A Male to A Male Cable - ...,PC,1,2,2,N,N,None of them worked. No functionality at all.,"Bought cables in 3ft, 6ft and 9ft. NONE of th...",2015-08-31
3,US,14215710,R7EO0UO6BPB71,B001NS0OZ4,576587596,Transcend P8 15-in-1 USB 2.0 Flash Memory Card...,PC,1,0,0,N,Y,just keep searching.,"nope, cheap and slow",2015-08-31
4,US,38264512,R39NJY2YJ1JFSV,B00AQMTND2,964759214,Aleratec SATA Data Cable 2.0 20in Serial ATA S...,PC,5,0,0,N,Y,Five Stars,Excellent! Great value and does the job.,2015-08-31

In [11]:
import dask
from distributed import wait
import cupy as cp
from cuml.feature_extraction.text import HashingVectorizer
from cuml.dask.feature_extraction.text import TfidfTransformer
from dask_cuda import LocalCUDACluster
import dask_cudf

In [12]:
# cluster = LocalCUDACluster(protocol="ucx",
#                            enable_tcp_over_ucx=True,
#                            enable_nvlink=True,
#                            enable_infiniband=True)

In [13]:
from dask.distributed import Client
# # client = Client(cluster)
# client = Client()

cluster = LocalCUDACluster()
client = Client(cluster)

In [14]:
from nltk.corpus import stopwords

STOPWORDS = stopwords.words('english')
PUNCTUATIONS = [x for x in '''!()-[]{};:'"\,<>./?@#$%^&*_~''']

print(STOPWORDS)
print(PUNCTUATIONS)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
['!', '(', ')', '-', '[', ']', '{', '}', ';', ':', "'", '"', '\\', ',', '<', '>', '.', '/', '?', '@', '#', '$', '%', '^', '&', '*', '_', '~']

In [15]:
def read_data_parquet(parquet_path):
    data = dask_cudf.read_parquet(parquet_path,
                                  columns=["review_body"],
                                 storage_options={'anon': True})
    return data

def read_data(tsv_path):
    data = dask_cudf.read_csv(tsv_path,sep='\t',columns=["review_body"],
                                 storage_options={'anon': True})
    return data

def text_preprocessor(data, column_name, PUNCTUATIONS,STOPWORDS):
    data = data[data[column_name].notnull()]
    data[column_name] = data[column_name] \
                            .str.lower() \
                            .str.replace_tokens(PUNCTUATIONS, " ") \
                            .str.replace_tokens(STOPWORDS, "") \
                            .str.normalize_spaces() \
                            .str.strip()
    return data

def hashing_vectorizer(data, column_name):
    vectorizer = HashingVectorizer(stop_words=None, preprocessor=None)
    # Meta is an empty dataframe matches the dtypes and columns of the output
    meta = dask.array.from_array(cp.sparse.csr_matrix(cp.zeros(1, dtype=cp.float32)))
    hashing_vectorized = data[column_name].map_partitions(vectorizer.fit_transform, meta=meta).astype(cp.float32)
    hashing_vectorized = hashing_vectorized.persist()
    wait(hashing_vectorized);
    return hashing_vectorized


def tfidf_transformer(data, client):
    multi_gpu_transformer = TfidfTransformer(client=client)
    result = multi_gpu_transformer.fit_transform(data)
    result = result.persist()
    wait(result);
    result.compute_chunk_sizes()
    return result
  
def full_pipeline(client, data_path):
    data = read_data(data_path)
    print(data.head()["review_body"])
    data = text_preprocessor(data, "review_body", PUNCTUATIONS, STOPWORDS)
    print(data.head()["review_body"])
    result = hashing_vectorizer(data, "review_body")
    print(result)
    result = tfidf_transformer(result, client)
   
    return result

In [18]:
result=full_pipeline(client,"Data/amazon_reviews_us_PC_v1_00.tsv")

0    I was very surprised at the high quality of th...
1    I am a Google employee and had to chance to us...
2    Bought cables in 3ft, 6ft and 9ft.  NONE of th...
3                                 nope, cheap and slow
4             Excellent! Great value and does the job.
Name: review_body, dtype: object
0    surprised high quality stitching, sturdiness h...
1    google employee chance use device months now. ...
2    bought cables 3ft, 6ft 9ft. none worked. funct...
3                                     nope, cheap slow
4                          excellent! great value job.
Name: review_body, dtype: object
dask.array<fit_transform, shape=(nan, 0), dtype=float32, chunksize=(nan, 0), chunktype=numpy.ndarray>

In [19]:
client

In [20]:
result

dask.array<concatenate, shape=(6125798, 1048576), dtype=float32, chunksize=(618556, 1048576), chunktype=cupy.ndarray>

In [21]:
result.shape

(6125798, 1048576)

In [23]:
result.__dict__

{'shape': (6125798, 1048576),
 'size': 6423364763648,
 'numblocks': (14, 1),
 'npartitions': 14}

In [24]:
result[0]

dask.array<getitem, shape=(1048576,), dtype=float32, chunksize=(1048576,), chunktype=cupy.ndarray>